.body {
    margin: 0%;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: auto;
    padding: 0.1%;
    background-color: darkgrey;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.topleft {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.topicons {
    display: flex;
}

.ticon {
    margin-left: 8px;
}

.topright {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.topnews {
    margin-left: 20px;
}

.Currency {
    margin: none;
    outline: none;
    margin-left: 30px;
    margin-right: 10px;
    background-color: transparent;
}

.navicon {
    font-size: 30px;
    display: flex;
}

.nv {
    margin-left: 20px;
}

.navdown {
    width: 100%;
    height: 70px;
    display: flex;
    border: 0.1px solid grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navleft {
    font-weight: bold;
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navright {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navcall,
.navlocation {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
}



.footer {
    margin-top: 2px;
    width: 100%;
    height: 300px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer1 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
}

.footer2 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.footer3 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.footer4 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.subscribe {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}

.message {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    text-align: center;
}

.name,
.email,
.phone {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}

.Mess {
    margin-top: 10px;
    width: 50%;
    height: 80px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}

.send {
    margin-top: 20px;
    width: 10%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    box-shadow: 1px 1px 1px 1px grey;
}

.location {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.map {
    height: 80%;
    width: 90%;
}

.logo {
    width: 120px;
    height: 120px;
}